--
-- PostgreSQL database dump
--

\restrict nFNRine7dLuZpjfDYoUATtNyjHvy78tBzJA32aDYrvjg16XcCtCl8COWvFKzxF3

-- Dumped from database version 18.6
-- Dumped by pg_dump version 18.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: fii_change_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fii_change_logs (
    id integer NOT NULL,
    company_name character varying(255) NOT NULL,
    old_fii_pct numeric(5,2),
    new_fii_pct numeric(5,2),
    difference numeric(5,2),
    old_cmp numeric(10,2),
    new_cmp numeric(10,2),
    detected_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.fii_change_logs OWNER TO postgres;

--
-- Name: fii_change_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.fii_change_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fii_change_logs_id_seq OWNER TO postgres;

--
-- Name: fii_change_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.fii_change_logs_id_seq OWNED BY public.fii_change_logs.id;


--
-- Name: fii_holdings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fii_holdings (
    id integer NOT NULL,
    stock_id integer,
    record_date date NOT NULL,
    fii_percentage numeric(5,2) NOT NULL,
    dii_percentage numeric(5,2),
    promoter_percentage numeric(5,2),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.fii_holdings OWNER TO postgres;

--
-- Name: fii_holdings_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.fii_holdings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fii_holdings_id_seq OWNER TO postgres;

--
-- Name: fii_holdings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.fii_holdings_id_seq OWNED BY public.fii_holdings.id;


--
-- Name: fii_screen_snapshots; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fii_screen_snapshots (
    id integer NOT NULL,
    company_name character varying(255) NOT NULL,
    cmp numeric(10,2),
    pe_ratio numeric(10,2),
    market_cap numeric(15,2),
    chg_in_fii_pct numeric(5,2),
    fii_hold_pct numeric(5,2),
    snapshot_date date NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    fii_prev_hold_pct numeric(5,2),
    promoter_hold_pct numeric(5,2),
    promoter_pledge_pct numeric(5,2)
);


ALTER TABLE public.fii_screen_snapshots OWNER TO postgres;

--
-- Name: fii_screen_snapshots_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.fii_screen_snapshots_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fii_screen_snapshots_id_seq OWNER TO postgres;

--
-- Name: fii_screen_snapshots_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.fii_screen_snapshots_id_seq OWNED BY public.fii_screen_snapshots.id;


--
-- Name: stocks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stocks (
    id integer NOT NULL,
    symbol character varying(50),
    company_name character varying(255) NOT NULL,
    sector character varying(100),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.stocks OWNER TO postgres;

--
-- Name: stocks_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.stocks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.stocks_id_seq OWNER TO postgres;

--
-- Name: stocks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.stocks_id_seq OWNED BY public.stocks.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(100) NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: watchlists; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.watchlists (
    id integer NOT NULL,
    user_id integer,
    stock_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.watchlists OWNER TO postgres;

--
-- Name: watchlists_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.watchlists_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.watchlists_id_seq OWNER TO postgres;

--
-- Name: watchlists_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.watchlists_id_seq OWNED BY public.watchlists.id;


--
-- Name: fii_change_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fii_change_logs ALTER COLUMN id SET DEFAULT nextval('public.fii_change_logs_id_seq'::regclass);


--
-- Name: fii_holdings id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fii_holdings ALTER COLUMN id SET DEFAULT nextval('public.fii_holdings_id_seq'::regclass);


--
-- Name: fii_screen_snapshots id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fii_screen_snapshots ALTER COLUMN id SET DEFAULT nextval('public.fii_screen_snapshots_id_seq'::regclass);


--
-- Name: stocks id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stocks ALTER COLUMN id SET DEFAULT nextval('public.stocks_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: watchlists id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.watchlists ALTER COLUMN id SET DEFAULT nextval('public.watchlists_id_seq'::regclass);


--
-- Name: fii_change_logs fii_change_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fii_change_logs
    ADD CONSTRAINT fii_change_logs_pkey PRIMARY KEY (id);


--
-- Name: fii_holdings fii_holdings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fii_holdings
    ADD CONSTRAINT fii_holdings_pkey PRIMARY KEY (id);


--
-- Name: fii_holdings fii_holdings_stock_id_record_date_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fii_holdings
    ADD CONSTRAINT fii_holdings_stock_id_record_date_key UNIQUE (stock_id, record_date);


--
-- Name: fii_screen_snapshots fii_screen_snapshots_company_name_snapshot_date_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fii_screen_snapshots
    ADD CONSTRAINT fii_screen_snapshots_company_name_snapshot_date_key UNIQUE (company_name, snapshot_date);


--
-- Name: fii_screen_snapshots fii_screen_snapshots_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fii_screen_snapshots
    ADD CONSTRAINT fii_screen_snapshots_pkey PRIMARY KEY (id);


--
-- Name: stocks stocks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stocks
    ADD CONSTRAINT stocks_pkey PRIMARY KEY (id);


--
-- Name: stocks stocks_symbol_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stocks
    ADD CONSTRAINT stocks_symbol_key UNIQUE (symbol);


--
-- Name: stocks unique_company_name; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stocks
    ADD CONSTRAINT unique_company_name UNIQUE (company_name);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: watchlists watchlists_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.watchlists
    ADD CONSTRAINT watchlists_pkey PRIMARY KEY (id);


--
-- Name: watchlists watchlists_user_id_stock_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.watchlists
    ADD CONSTRAINT watchlists_user_id_stock_id_key UNIQUE (user_id, stock_id);


--
-- Name: idx_change_logs_company; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_change_logs_company ON public.fii_change_logs USING btree (company_name, detected_at DESC);


--
-- Name: idx_fii_snapshots_company_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_fii_snapshots_company_date ON public.fii_screen_snapshots USING btree (company_name, snapshot_date DESC);


--
-- Name: fii_holdings fii_holdings_stock_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fii_holdings
    ADD CONSTRAINT fii_holdings_stock_id_fkey FOREIGN KEY (stock_id) REFERENCES public.stocks(id) ON DELETE CASCADE;


--
-- Name: watchlists watchlists_stock_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.watchlists
    ADD CONSTRAINT watchlists_stock_id_fkey FOREIGN KEY (stock_id) REFERENCES public.stocks(id) ON DELETE CASCADE;


--
-- Name: watchlists watchlists_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.watchlists
    ADD CONSTRAINT watchlists_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: TABLE fii_change_logs; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.fii_change_logs TO fii_user;


--
-- Name: SEQUENCE fii_change_logs_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,USAGE ON SEQUENCE public.fii_change_logs_id_seq TO fii_user;


--
-- Name: TABLE fii_holdings; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.fii_holdings TO fii_user;


--
-- Name: SEQUENCE fii_holdings_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,USAGE ON SEQUENCE public.fii_holdings_id_seq TO fii_user;


--
-- Name: TABLE fii_screen_snapshots; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.fii_screen_snapshots TO fii_user;


--
-- Name: SEQUENCE fii_screen_snapshots_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,USAGE ON SEQUENCE public.fii_screen_snapshots_id_seq TO fii_user;


--
-- Name: TABLE stocks; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.stocks TO fii_user;


--
-- Name: SEQUENCE stocks_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,USAGE ON SEQUENCE public.stocks_id_seq TO fii_user;


--
-- Name: TABLE users; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.users TO fii_user;


--
-- Name: SEQUENCE users_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,USAGE ON SEQUENCE public.users_id_seq TO fii_user;


--
-- Name: TABLE watchlists; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.watchlists TO fii_user;


--
-- Name: SEQUENCE watchlists_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,USAGE ON SEQUENCE public.watchlists_id_seq TO fii_user;


--
-- PostgreSQL database dump complete
--

\unrestrict nFNRine7dLuZpjfDYoUATtNyjHvy78tBzJA32aDYrvjg16XcCtCl8COWvFKzxF3

