@import "tailwindcss";

body {
  background-color: #f8fafc;
}

/* Ticker Animation */
@keyframes ticker {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-ticker {
  animation: ticker 40s linear infinite;
  display: flex;
  width: max-content;
}

/* Pause the ticker when the user hovers over it */
.animate-ticker:hover {
  animation-play-state: paused;
}